#devices_usb {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#devices_net {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#general_info {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    font-weight: bold;
    margin-bottom: 0.3em;
}

.net_device_name {
    font-size: 1.2em;
}
