#innerBox {
  background-image: url("/usr/share/wallpapers/openthinclient/default.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  color: white;
}

#topBar {
  background-color: #333;
}

#topBar #clock {
  color: #eee;
}

button:focus {
  outline: 2px solid #4097ed;
}

button {
  color: black;
  text-shadow: none;
  box-shadow: none;
}